body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(6, 6, 6);
    display: flex;
}

.container {
    background-image: url(../img/drum.jpg);
    background-size: cover;
    width: 80%;
    height: 100vh;
    margin: auto;
}

.title {
    color:blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    margin: 20px;
}
span {
    font-size: 20px;
    font-family: serif;
}
.letter-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.key {
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    padding: .5rem;
    transition: all 0.07s;
    text-shadow: 0 0 5px black;
}

.playing {
    transform: scale(1,1);
    border-color: blanchedalmond;
    box-shadow: 0 0 10px blanchedalmond;
}

.letter {
    display: block;
    width: 50px;
    color: blanchedalmond;
    font-family: serif;
    font-size: 3em;
    padding: 20px;
    transition: all 0.07s;
    
}

.sound {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0,5em;
    letter-spacing: 1px;
    color: #ffc600;
}

